# Ao instalar pacotes npm, esse arquivo de configuração mantém as versões das dependências de seu packge.json com a versão exata do momento da instalação. 
# Isso evita de quebrar seu código no futuro, quando for rodar o comando npm i, para baixar as dependências durante algum processo de deploy ou novas instalações da app. 
save-exact=true